.movies {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 70px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .movies {
    padding: 0 30px;
  }
}

@media screen and (max-width: 400px) {
  .movies {
    padding: 0 10px;
  }
}
