.switch {
    display: flex;
    align-items: center;
    margin-top: 30px;
  }
  
  .switch-area {
    width: 36px;
    box-sizing: border-box;
    max-height: 20px;
    border-radius: 20px;
    background-color: #3ddc84;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2px;
  }
  
  .switch__button {
    width: 16px;
    height: 16px;
    border-radius: 20px;
    background-color: #ffffff;
  }
  
  .switch-label {
    margin-left: 12px;
    font-family: "Inter", "Arial", "Helvetica", sans-serif;;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: rgba(255, 255, 255, 1);
  }

  @media screen and (max-width: 400px) {


    .switch {
        margin-top: 44px;
      }
    
      .search-form__input {
        height: 44px;
        padding: 0 16px;
        font-size: 12px;
        line-height: 18px;
      }
    
      .switch-label {
        font-size: 11px;
      }
    
  }